<%= render "shared/header" %>
  <div class="user-show">
    <div class="user-detail">
      <div class="user-names">
        <div class="user-show-names">
          <% if @user.image? %>
            <div class="deli-show-icon"><%= image_tag @user.image.url %></div>
          <% else %>
            <div class="deli-show-icon">icon</div>
          <% end %>
          <p class="user-show-name"><%= @user.name %></p>
        </div>
        <% if current_user == @user %>
          <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"edit-user" %>
        <% end %>
      </div>
      <% if @user.introduction? %>
        <p class="user-introduction">
          <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
        </p>
      <% end %> 
    </div>
    <ul class="deli-wrapper">
      <% @delis.each do |deli| %>  
        <li class="deli-list">
          <%= render partial:"delis/deli", locals: {deli:deli} %>
        </li>
      <% end %>
    </ul>
  </div>
<%= render "shared/footer" %>