<%# <div class="card"> %>
  <%= link_to image_tag( deli.image, class:"deli-image" ), deli_path(deli.id) %>
  <div class="card-body">
    <% if deli.user.image? %>
      <div class="deli-user-icon"><%= image_tag deli.user.image.url %></div>
    <% else %>
      <div class="deli-user-icon">icon</div>
    <% end %>
    <div class="deli-summary">
      <%= link_to deli.name, deli_path(deli.id), class:"deli-name" %>
      <div class="deli-little-summary">
        <p class="deli-user">
          <%= deli.user.name %>
          <%# <%= link_to deli.user, user_path(user.id), class:"deli-user-name" %>
        </p>
        <p class="deli-category">
          <%= deli.category.name %>
        </p>
      </div>
    </div>
  </div>
<%# </div> %>