<%= render "shared/header" %>

<main class="main">
  <div class="inner">
  <% if user_signed_in? %>
    <div class="greeting">
      <%= "こんにちは" %>
      <%= link_to "#{current_user.name}さん", root_path, class: :greeting__link %>
    </div>
  <% end %>
  <%= link_to "New Deli", new_deli_path, class: :nav__btn %>
    <div class="card__wrapper">
      <%# <%= render partial:"prototype", collection: @prototypes %>
    </div>
  </div>
</main>

<%= render "shared/footer" %>